# All options are optional, remove those you do not need

VITE_OPENAI_API_KEY=
VITE_DEFAULT_SYSTEM_MESSAGE=     # Remove this line if you want to use the default system message of Better ChatGPT
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=


VITE_HUGGINGFACE_API_KEY=hf_I
VITE_OPENAI_API_KEY=sk-2Bq
VITE_DEFAULT_SYSTEM_MESSAGE=Welcome 
VITE_SUPABASE_URL=https:/
